*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    width: 976px;
    margin: 0 auto;
    height: 100vh;
}
.invisible{
    display: none;
}
.header_container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5% 0 0 0;
}
.footer{
    padding: 2% 0 2% 0;
    font-size: 1.1em;
    color: #283655;
}
.logo_container{
    display: flex;
    align-items: center;
}
.logo_img{
    width: 25%;
}
.logo_txt{
    color: #344D90;
    font-weight: 600;
}
.footer img{
    vertical-align: middle;
    padding: 0 2px 0px 5px;
}
.marquee_infinite{
    overflow: hidden;
}
.marquee_container{
    display: flex;
    width: 200%;
    animation: marquee_infinite 15s linear infinite;
}
.marquee_txt{
    white-space: nowrap;
    width: 100%;
    font-size: 1.2em;
    color: #283655;
    font-weight: 600;
}
@keyframes marquee_infinite {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-50%);
    }
}
.marquee_container:hover{
    animation-play-state: paused;
}
.first_screen{
    display: flex;
    justify-content: space-between;
    margin: 2% 0 1%;
}
.select_container{
    display: flex;
}
.h2_first_screen{
    margin: 0 auto;
    font-size: 1.6em;
    color: #283655;
    font-weight: 600;
}
.year_select{
    color: #283655;
    padding: 0.25% 0.5%;
    border: 2px solid #344D90;
    border-radius: 5px;
    outline: none;
}
.year_select:nth-child(even){
    margin-left: 10px;
}
.w-50{
    width: 50%;
}
.navigation{
    width: 976px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
    background: linear-gradient(white 70%, rgba(255,0,0,0));
}
.navigation a{
    padding: 2% 0 3% 0;
    font-size: 1.1em;
    font-weight: 500;
}
.navigation a:hover{
    color: #344D90;
    text-decoration: underline;
}
.footer_text{
    font-size: 1.1em;
}
.footer_link{
    padding: 0 0.5%;
    color: #283655;
    font-weight: 600;
}
.logo_monobank{
    border-radius: 50%;
}
.indent{
    text-align: end;
    margin-bottom: 2%;
}
.parag{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}