@media screen and (max-width:1200px){
    .App{
        width: 960px;
        margin: 0 auto;
    }
}
@media screen and (max-width:992px){
    .App{
        width: 720px;
        margin: 0 auto;
    }
    .navigation{
        width: 720px;
    }
    .navigation a{
        font-size: 0.9em;
        text-align: center;
    }
    .logo_container {
        font-size: 1em;
    }
    .marquee_txt {
        font-size: 1em;
    }
    .h2_first_screen {
        font-size: 1.4em;
    }
    .logo_txt {
        font-size: 0.85em;
    }
    .footer_text {
        font-size: 1em;
    }
}
@media screen and (max-width:768px){
    .App{
        width: 540px;
        margin: 0 auto;
    }
    .navigation{
        width: 540px;
    }
    .header_container {
        padding: 10% 0 0 0;
    }
    .marquee_txt {
        font-size: 0.9em;
    }
    .h2_first_screen {
        font-size: 1.1em;
    }
    .footer_text {
        font-size: 0.85em;
    }
}
@media screen and (max-width:576px){
    .App{
        width: 100%;
        padding: 0 25px;
        margin: 0 auto;
    }
    .navigation {
        max-width: 88%;
        margin: 0 auto;
        padding-top: 15px;
        position: fixed;
        z-index: 9999;
        background: linear-gradient(white 85%, rgba(255, 0, 0, 0));
    }
    .navigation a {
        padding: 1% 0 1% 0;
    }
    .header_container {
        padding: 20% 0 0 0;
    }
    .first_screen {
        display: flex;
        margin: 2% 0 1%;
        align-items: center;
    }
    .h2_first_screen{
        white-space: nowrap;
    }
    .select_container {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
    .marquee_container {
        width: 350%;
    }
    .logo_txt {
        margin-right: 25px;
    }
    .year_select {
        margin-bottom: 5px;
    }
    .footer_link {
        font-size: 0.7em;
    }
}
@media screen and (max-width:360px){
    .App{
        width: 100%;
        padding: 0 25px;
        margin: 0 auto;
    }
}